@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4;
  }

  .btn {
    @apply flex justify-center items-center;
    @apply gap-2 rounded-md px-9 h-9;
    @apply text-sm font-semibold;    
  }

  .btn.verde {
    @apply bg-teal-800 text-white;
  } 

  .btn.verde:hover {
    @apply bg-teal-900;
  }

  .btn.vermelho {
    @apply bg-red-700;
  }

  .btn.vermelho:hover {
    @apply bg-red-800
  }
    
  
}
